@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
nav{
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    /* padding:40px 100px; */
    background-color: darkgray;
}
nav .logo{
    position:relative;
    font-weight:700 ;
    color:#fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing:2px;
    transition: 0.6s;
}
nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
    padding: 10px;
}
nav ul li :hover{
    position: relative;
    border-left:2px solid white;
    border-bottom: 2px solid white;
}
nav ul li a{
    margin:0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.jumbotron{
    margin-top: 40px;
    /* padding: 35px; */
}
.jumbotron img{
    height: 250px;
    width:auto;
    border-radius: 10px;
}
.jumbotron h4{
    padding-top: 40px;
}
.jumbotron h4, p{
    padding: 10px;
    font-family: 'Merriweather', serif;

}