{% extends 'all-projects/base.html' %}
{% load static %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron" >
                <div class='description'>
                    <p>Full Stack Developer and passionate about my skills that range from diferent languages and frameworks. I pride in the fact that am able
                        to learn new, and sure make the best
                        out of the knowledge.
                    </p>
                </div>
            </div>
        </div>
        <div class ="col-md-8 img">
            <div class="jumbotron img">
                <h4>Skilled In</h4>
                <hr>
                <a href="https://docs.djangoproject.com/en/3.0/" target="_blank"><img class='tech' src='https://bit.ly/2XWYX9s'></a>
                <a href="https://flask.palletsprojects.com/en/1.1.x/"target="_blank"><img src='https://bit.ly/37o4I2Q'></a>
                <a href="https://angular.io/" target="_blank"><img src='https://bit.ly/3ffyrh3'></a>
                <a href="https://www.postgresql.org/docs/" target="_blank"><img src='https://bit.ly/3fg6N3B'></a>
                <br>
                <a href="https://devdocs.io/javascript/" target="_blank"><img src='https://bit.ly/37nPjPY'></a>
                <a href="https://docs.python.org/3/" target="_blank"><img src='https://bit.ly/2C3jjFz'></a>
                <a href="https://devdocs.io/css/" target="_blank"><img src='https://bit.ly/37mI9M0'></a>
                <a href="https://www.postgresql.org/docs/" target="_blank"><img src='https://bit.ly/3dWwW7h'></a>
                <hr>
                <div class='overlay'>
                    <div class='content'>
                        Read More
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}