{% extends 'all-projects/base.html' %}
{% load static %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron" >
                <div class='description'>
                    <p>Full Stack Developer and passionate about my skills that range frm diferent languages and frameworks. I pride in the fact that am able
                        to learn new, no matter how hard it might seem at a glance since am sure I will grasp it and make the best
                        out of the knowledge.
                    </p>
                </div>
            </div>
        </div>
        <div class ="col-md-8 img">
            <div class="jumbotron" >
                <h4>Skilled In</h4>
                <hr>
                <img src='https://bit.ly/2XWYX9s'>
                <img src='https://bit.ly/37o4I2Q'>
                <img src='https://bit.ly/3ffyrh3'>
                <img src='https://bit.ly/3fg6N3B'>
                <br>
                <img src='https://bit.ly/37nPjPY'>
                <img src='https://bit.ly/2C3jjFz'>
                <img src='https://bit.ly/37mI9M0'>
                <img src='https://bit.ly/3dWwW7h'>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}