{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
  <linK rel='stylesheet' href='{% static "css/styles.css" %}'>

	{% if title %}
		<title>Alex Portfolio - {{title}}</title>
  {% else %}
		<title> Alex Portfolio </title>
  {% endif %}
	{% block styles %}
    {% bootstrap_css %}
	{% endblock %}

</head>
<body>
	{% include "navbar.html" %}
	{% block content %}{%endblock%}
	{% block scripts %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{% bootstrap_javascript %}
	{% endblock %}
</body>
</html>