<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
</head>
<body>
<section id='menu'>
	<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand logo" href="#home">Alex Portfolio</a>
			</div>
			<ul>
				<li class="nav-item active">
					<a class="nav-link"  href="#home">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="#portfolio">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
</section>
</body>
</html>
